header {
  position: relative;
  margin: auto auto 20px;
  max-width: 640px;
  border: 21px solid;
  border-radius: 12px;
  border-color: #000 #101010 #000 #101010;
  position: relative;
  background: url("https://i.imgur.com/WWo2qrS.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio:320 / 137;
    outline: 1px solid red;
    outline-offset:-21px;
}